# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\obj\Go\hc-match\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
